#
# Bot configuration file
#
bot {
    server "irc.spoof.org"; 
    port=6667;
    #nick="algorithm";
    nick="memfrob";
    alt_nick="realloc"; /* this is also a comment */
    userline "USER algorigthm irc.efnet.net localhost :Do I know you?";
    max_db=9999;
    database "calcdb.data";
    on_connect="startup.cmd";
    default_channel="#test";
    # verbose=2;
}

autovoice {
    channels="#test";
}

#
# This node/section determines which features are enabled on the bot.
#
features {
    is_chpass_enabled="true";
    is_calc_enabled="true";
    is_chcalc_enabled="true";
    is_op_enabled="true";
    is_owncalc_enabled="true";
    is_proto_enabled="true";
    is_whois_enabled="true";
    is_wcalc_enabled="true";
    is_adduser_enabled="true";
    is_help_enabled="true";
    is_rmuser_enabled="true";
    is_rmcalc_enabled="true";
    is_rawirc_enabled="true";
    is_rcalc_enabled="true";
    is_rot13_enabled="true";
    is_mkcalc_enabled="true";
    is_listcalc_enabled="true";
    is_lsusers_enabled="true";
    is_dcalc_enabled="true";
    is_searchcalc_enabled="true";
    is_autovoice_enabled="false";
}
